<nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Employees DB</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav me-auto mb-2 mb-sm-0">
          <li class="nav-item active" *ngIf="isLogIn">
            <a class="nav-link active" aria-current="page" href="#" routerLink="/">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/register" *ngIf="!isLogIn && enableRegister" >Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/login" *ngIf="!isLogIn">Login</a>
          </li>
          <li class="nav-item" *ngIf="isLogIn">
            <a class="nav-link"  (click)="onLogoutClick()">Logout</a>
          </li>
          <li class="nav-item"  *ngIf="isLogIn">
            <a class="nav-link" href="#">{{isUserLogin}}</a>
          </li>
          <li class="nav-item" *ngIf="isLogIn">
            <a class="nav-link" routerLink="/settings">Settings</a>
          </li>
        </ul>
       
      </div>
    </div>
  </nav>