<div class="row">
  <div class="col-sm-6">
    <h3><i class="fa fa-users" aria-hidden="true"></i>
      Total Employees: {{totalEmployees}}</h3>
  </div>

  <div class="col-sm-6">
    <h3><i class="fas fa-money-bill"></i>
      Total Salary: {{totalSalarySum | currency: "USD"}} </h3>
  </div>
</div>




<div *ngIf="employees.length>0 ; else elseBlock"> 
    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Country</th>
            <th scope="col">City</th>
            <th scope="col">Phone</th>
            <th scope="col">Salary</th>
            <th scope="col">ID</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of employees">
            <th>{{item.firstName}}</th>
            <th>{{item.lastName}}</th>
            <th>{{item.email}}</th>
            <th>{{item.country}}</th>
            <th>{{item.city}}</th>
            <th>{{item.phone}}</th>
            <th>{{item.salary | currency: "USD"}}</th>
            <th>{{item.$key}}</th>
            <th><a href="#" [routerLink]="['/employee/' + item.$key]" class="btn btn-primary">
              more<i class="fas fa-info"></i></a></th>
          </tr>
        </tbody>
      </table>
</div>
<ng-template #elseBlock><h2>Empty Database</h2></ng-template>

